* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-orange: #db2319;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #21277b;
  --celor-lite-black: #555555;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Serif", serif;
}
h2 {
  font-size: 44px;
}
.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
  object-fit: cover;
}

.w-1 {
  width: 100%;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.w-4 {
  width: 25%;
}

.w-5 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.d-block {
  display: block;
}
i {
  vertical-align: middle;
}
p {
  font-size: 18px;
  font-family: "Lato";
  color: var(--celor-lite-black);
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

/* HEADER */

header nav ul li a {
  font-size: 17px;
  padding: 15px;
  color: black;
  font-weight: 500;
}
.taggle-manu {
  display: none;
  font-size: 25px;
  color: black;
}
header .header-btn {
  background-color: #db2319;
  color: #fff;
  padding: 12px 20px;
  border-radius: 34px;
  font-weight: 600;
}

header .header-btn i {
  display: inline-block;
  margin-left: 10px;
}

/* services-banner */

.trip-banner {
  background-color: rgba(12, 11, 11, 0.7);
  padding: 160px 0;
}
.trip-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/our-banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.trip-banner h1 {
  font-size: 86px;
  color: var(--color-white);
}

/* best-services-banne */
.trip {
  padding: 80px 0;
}
.trip-title h2 {
  color: var(--color-blue);
  font-weight: 700;
}
.trip-inner {
  padding-top: 40px;
}
.trip-img {
  padding: 0 20px 0 0;
}
.trip-content {
  padding: 0 0 0 20px;
}
.trip-content h4 {
  color: var(--color-black);
  font-size: 42px;
  font-weight: 600;
}
.trip-content ul i {
  color: var(--color-orange);
  font-size: 18px;
  margin-right: 5px;
  padding: 15px 0;
}
.trip-content ul p {
  padding-bottom: 15px;
}
.trip-content > p {
  padding: 5px 0;
}

/* trip-dreams */
.trip-dreams {
  padding: 80px 0;
}
.trip-dreams-title {
  width: 800px;
  padding-bottom: 30px;
}
.trip-dreams-title h2 {
  color: var(--color-blue);
  font-weight: 700;
  padding-bottom: 5px;
}
.trip-dreams-title p {
  text-align: center;
}
.trip-select {
  padding: 0 0 60px 0;
}

.trip-select-items {
  width: 100%;
  background-color: #b4d0e6;
  height: 4px;
  position: relative;
}

.trip-move {
  background-color: var(--color-blue);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
}

.trip-select ul {
  justify-content: space-evenly;
  padding: 10px 0 0 0;
}

.trip-select ul li:first-child a {
  font-weight: 700;
}

.trip-select ul li a {
  color: var(--color-blue);
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trip-dreams-content {
  background-color: #111827;
  color: var(--color-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trip-dreams-content ul {
  padding: 20px 0;
}
.trip-dreams-content h4 {
  font-size: 24px;
  padding-bottom: 5px;
  font-family: Roboto Serif;
  font-weight: 400;
  text-transform: capitalize;
}

.trip-dreams-content p {
  color: var(--color-white);
}
.trip-dreams-content p i {
  color: var(--color-orange);
}
/* /// FOOTER /// */

footer {
  background-color: #111827;
}

.footer-logo {
  position: absolute;
  top: 0;
  left: 40px;
  padding: 10px;
  background-color: var(--color-white);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.logo-radius-1::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 100%;
}
.logo-radius-1::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #111827;
  position: absolute;
  border-radius: 0 10px 0 0;
  top: 0;
  right: 100%;
}
.logo-radius-2::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 100%;
}
.logo-radius-2::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #111827;
  position: absolute;
  border-radius: 10px 0 0 0;
  top: 0;
  left: 100%;
}
.footer-inner {
  padding: 130px 0 65px 0;
}
.footer-inner .w-5:nth-child(2) .footer-items,
.footer-inner .w-5:nth-child(3) .footer-items,
.footer-inner .w-5:nth-child(4) .footer-items {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.footer-items {
  margin: 0 15px;
}

.footer-items p {
  color: var(--color-white);
  font-weight: 400;
  font-family: "Lato";
}

.footer-items ul li a {
  display: inline-block;
  color: var(--color-white);
  font-size: 20px;
  margin-right: 8px;
}

.footer-items h4 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 18px;
}

.footer-items li {
  color: var(--color-white);
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer-items input {
  font-family: "Lato";
  background-color: var(--color-white);
  border: none;
  outline: none;
  width: 100%;
  padding: 13px 10px;
  border-radius: 22px;
}

footer .w-5:last-child .footer-items a {
  background-color: #db2319;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translatey(-50%);
}

.copyright {
  border-top: 1px solid #a09c9c;
  padding: 14px 0;
}

.copyright-items ul li a {
  color: var(--color-white);
  font-size: 24px;
  margin: 0 10px;
}
.copyright-items p {
  color: var(--color-white);
}
